.advertisement-section {
  padding-top: 119px;
  padding-bottom: 127px;
  position: relative;
}

.advertisement-bg-gradient {
  background: rgba(3, 19, 51, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.advertisement-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.advertisement-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
  .h2 {
    max-width: 727px;
    color: $whiteColor;
    margin-bottom: 0;
  }
  .btn-holder {
    display: flex;
    align-items: center;
    .btn-primary {
      padding: 16px 40px;
    }
  }
}
