.blog-section {
  padding: 51px 0;
  background: $primaryColor;
}

.blog-title {
  text-align: center;
}

.blog-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.blog-card {
  max-width: 387px;
  width: 33.33%;
  border-radius: 16px;
}

.blog-card-image {
  img {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
    height: 273px;
  }
}

.blog-card-body {
  margin-top: -4px;
  padding: 20px 28px;
  background: #0c0f3f;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.blog-card-title {
  color: $whiteColor;
  font-family: $primaryFont;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 20px;
}

.blog-card-link {
  color: $secondaryColor;
  font-family: $primaryFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-decoration-line: underline;
}
