.hero-section {
  background-color: $primaryColor;
  position: relative;
  padding: 50px 0 40px;
  .hero-ornament {
    position: absolute;
    top: 126px;
    right: 0;
  }
  .container {
    .box {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      column-gap: 10px;
      justify-content: space-between;
      .hero-content {
        max-width: 590px;
        .hero-paragraph {
          max-width: 500px;
          @extend %p;
          margin-bottom: 23px;
          color: $whiteColor;
          font-size: 16px;
        }
      }
      .hero-image {
        img {
          width: 600px;
          height: 600px;
        }
      }
      @include laptop {
        flex-direction: column-reverse;
        padding: 20px 0;
      }
    }
  }
}

.hero-buttons {
  .btn-primary {
    margin-right: 20px;
  }
}
