.latest-project-section {
  padding: 52px 0;
}

.latest-project-box {
  max-width: 1600px;
  margin: 0 auto;
}

.latest-project-title {
  text-align: center;
}

.latest-project-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.latest-project-card {
  width: 24%;
  position: relative;
}

.latest-project-card-image {
  width: 100%;
  height: 468px;
}

.latest-project-card-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $gradient;
}

.latest-project-card-text {
  text-align: center;
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 12px;
  .h3 {
    color: $whiteColor;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 36px */
  }
  .p {
    color: $whiteColor;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
  }
}
