.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  @include desktop {
    padding: 0 40px;
  }
  @include laptop {
    padding: 0 20px;
  }
}

img {
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 99px;
  @include tablet {
    scroll-padding-top: 475px;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 4px;
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: $secondaryColor; /* Set the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  opacity: 0.4;
  background: #6039e266; /* Set the color of the scrollbar track */
}
