// Buttons
%btn-primary {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-family: $primaryFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
  padding: 16px 40px;
  color: $whiteColor;
  background-color: $secondaryColor;
  border: none;
  border-radius: 8px;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      $secondaryColor;
  }
  &:focus {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      $secondaryColor;
  }
  &:active {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      $secondaryColor;
  }
  &:disabled {
    cursor: not-allowed;
    background: $grayColor;
  }
}

.btn-primary {
  @extend %btn-primary;
}

%btn-secondary {
  @extend %btn-primary;
  padding: 16px 20px;
  text-transform: none;
}

.btn-secondary {
  @extend %btn-secondary;
}
///

// Headings
%h4 {
  color: $secondaryColor;
  font-family: $primaryFont;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 20px */
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.h4 {
  @extend %h4;
}

%h3 {
  @extend %h4;
  color: $primaryColor;
  font-family: $primaryFont;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
  letter-spacing: 0px;
}

.h3 {
  @extend %h3;
}

%h2 {
  @extend %h3;
  color: $primaryColor;
  font-family: $primaryFont;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 67.2px */
  margin-bottom: 60px;
}

.h2 {
  @extend %h2;
}

%h1 {
  @extend %h2;
  color: $whiteColor;
  font-family: $primaryFont;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 84px */
  text-transform: none;
  margin-bottom: 23px;
  span {
    color: $secondaryColor;
  }
}

.h1 {
  @extend %h1;
}
//

// Paragraph
%p {
  color: $grayColor;
  font-family: $primaryFont;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 20px;
}

.p {
  @extend %p;
}
//

// Links
%link {
  color: $secondaryColor;
  font-family: $primaryFont;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.link {
  @extend %link;
}

%nav-link {
  @extend %link;
  color: $blackColor;
  &.active {
    color: $secondaryColor;
    text-decoration-line: underline;
  }
}

.nav-link {
  @extend %nav-link;
}
//

ol {
  list-style: none;
  counter-reset: item;
  li {
    display: flex;
    margin-bottom: 36px;
    align-items: center;
    font-size: 24px !important;
    .link {
      font-family: $primaryFont;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 38.4px */
      text-decoration-line: underline;
    }
    &:before {
      text-align: center;
      max-width: 28px;
      width: 100%;
      margin-right: 20px;
      content: counter(item); /* Display the current item number */
      counter-increment: item; /* Increment the counter for each item */
      color: $secondaryColor;
      font-family: $primaryFont;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }
  }
}
